u {
    color: blue;
}

th, td {
    padding: 15px;
}

a:link {
    color:blue;
}

a:visited {
    color:blue;
}

label {
    width: 150px;
    display: inline-block;
}

input {
    padding: 12px;
    margin: 20px;
}

button {
    padding: 12px;
    margin: 20px;
}

body {
    background-color: #000000;
    margin: 0 auto;
    font-family: Merriweather fantasy;
    font-size: 1.1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
}

section div {
    margin-top: 16px ;
}

a {
    color: black;
}

h1 {
    margin: 0;
    border-bottom-style: solid;
    border-radius: unset;
}

@media screen and (max-width: 550px) {
    header {
        background-size: 375px;
    }

    body {
        display: block;
    }

    nav {
        display: block;
    }

    .section div {
        margin-top: 3px;
    }

    label {
        width: 200px;
        display: block;
    }
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}