u {
    color: blue;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

header {
    background-image: url("../images/ramie-logo.jpeg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center;
    height: 360px;
}

label {
    width: 150px;
    display: inline-block;
}

input {
    padding: 6px;
}

button {
    margin-top: 11%;
    margin-left: 35px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: lightslategrey;
    color: white;
}

body {
    background-color: #000000;
    background-image: url("../images/barber-tool.jpg");
    background-repeat: repeat-x;
    background-position: top;
    box-sizing: border-box;
    border-radius: 5px;
    border: black;
    color: white;
    margin: 0 auto;
    font-family: Merriweather fantasy;
    font-size: 1.1em;
}

nav {
    display: flex;
    padding: 5px 0;
    margin: 2px;
    color: white;
    font-weight: bolder;
    font-family: Philosopher fantasy ;
    font-size: 1.3em;
    width: 100vw;
    background-color: black;
}

nav div{
    padding: 10px 0;
    width:10vw;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

nav div:hover {
    background-color: white;
    color: black;
}

nav.sticky {
    position: fixed;
    top: 0;
}

main {
    max-width: 650px;
    margin: 0 auto;
    color: black;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
}

section div {
    margin-top: 16px ;
}

a {
    color: black;
}

h1 {
    margin: 0;
    border-bottom-style: solid;
    border-radius: unset;
}

h2 {
    background-color: black;
    color: white;
}

.bio-img {
    display:inline-block;
    width: 53%;
    margin-right: 17px;
    border-radius: 14px;
}

.biografie-tekst {
    width: 40%;
    display: inline-block;
    font-size: 1.1em;
    text-align: left;
    position: center;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: black;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    max-width: 100%;
}

.img-slider .navigation .btn.active {
    background: dodgerblue;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

.img-slider{
    position: relative;
    width: 510px;
    height: 640px;
    margin: 10px;
    padding: 5px;
    background: none;
    border-radius: 20px;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 500px;
    height: 500px;
    object-fit: cover;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

img {
    width: 100%;
}

footer a {
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 70px;
    color: white;
}


.redText {
    color: red;
}

.greenText {
    color: green;
}

.img-slider, .img-container .slide{
    max-width:100%;
}

iframe{
    max-width: 100%;
}

.errors {
    color: red;
}


@media screen and (max-width: 550px) {
    header{
        background-size: 375px;
    }

    body {
        display: block;
    }

    nav {
        display: block;
    }

    .img-slider.navigation {
        bottom: -20px;
        left: 27%;
        transform: translateX(-50%) ;

    }

    .section div {
    margin-top: 3px;
    }

    label {
        width: 200px;
        display: block;
    }

    .img-slider{
        margin: 0;
        padding: 0;
        height: 300px;
    }
}