
/* Container holding the image and the text */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 90%;
    height: fit-content;
    bottom: auto;
    margin: 0 auto;
}

/* Bottom right text */
.text-block {
    height: 255px;
    width: 380px;
    background-color: black;
    position: absolute;
    top: 6%;
    left:38%;
    border-style: solid;
    border-color: #EEEEEE;
    margin: 50px 0 0 -50px;
    padding: 40px;
    color: white;
    font-size: 1.2em;
    border-radius: 50px;
    font-family: Merriweather fantasy;
}

body {
    background-color: black;
}
