body {
    background-color: #0E0E0E;
    background-image: url("../images/r-kapsalon-picture.jpg");
    background-repeat: no-repeat;
    background-position: top;

    border-radius: 5px;
    border: black;
    color: white;
    padding: 10px;
    margin: 0 auto;
    font-family: Merriweather fantasy;
    font-size: medium;
}

main {
    max-width: 200px;
    margin: 0 auto;
    color: black;

